{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div id="content">
    <h2>Enter your login info:</h2>
    <form method="POST" accept-charset="UTF-8" role="form">
        <!-- LoginForm -->
        {{ form.csrf_token }}
        {{ render_field(form.username, placeholder="Your Username") }}
        <div id="spacer"></div>
        {{ render_field(form.password, placeholder="Password") }}
        <br>
        <button type="submit">Login</button>
    </form>
</div>
<a href="{{ url_for('root') }}"><h3>Main Menu</h3></a>
{% endblock %}
